* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.d-flex {
    display: flex;
}

.container {
    margin: auto;
    width: 93%;
}

.ta {
    text-align: center;
}

/* start of navbar styling  */
.nav-sec {
    padding: 25px 63px 15px 63px;
    border-bottom: 0.5px solid #0392B8;
}

.nav-logo {
    width: 25%;
}

.nav {
    width: 60%;
    display: flex;
    gap: 40px;
    padding-top: 5px;
}

.request {
    width: 25%;
    padding-top: 5px;
}

.request a {
    padding: 15px 30px;
    text-decoration: none;
    background-color: #0392B8;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.75);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* end of navbar styling  */


.cont {
    display: flex;
    align-items: center;
    margin: auto;
    width: 40%;
    color: #4F4F4F;
}
  
.cont img {
    margin-right: 10px; 
}

.line{
    padding-left: 10px;
}

.para{
    width: 42%;
    margin: auto;
    color:#4F4F4F,
}

.text{
    display: flex;
    padding:5% 0 5% 300px; 
    width: 80%;
    margin: auto;
    gap: 20px;
}

.text img{
    width: 30px;
    height: 30px;
}

.fontSmall{
    font-size: 50%;
}

.fontBig{
    font-size: 100%;
}

.iconss{
    position: relative;
    bottom: 20px;
    padding-bottom: 80px;
}



.fa-user{
    position: relative;
    bottom: 20px;
    padding-bottom: 90px;
}

.last{
    padding-bottom: 5%;
}

.lastDiv{
    gap: 100px;
    position: relative;
}

.lastDiv i{
    position: absolute;
    bottom: 10px;
    left: -30px;
    color: #4F4F4F;
}

textarea{
 width: 500px;
}

#team{
    padding-bottom: 15px;
}

#right{
    padding-bottom: 15px;
}

.last{
  margin: auto;
  width: 40%;
  padding-top: 25px;
}

hr{
  margin: auto;
  width: 50%;
  height: 2px;
  background: #E5E5E5;
}

.rect{
    margin: auto;
    width: 45%;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}

.icon{
    color: #333333CC;
}

.contain{
    display: flex;
    align-items: center;
}

.easy{
    margin: auto;
    width: 40%;
    font-size: 25px;
    font-weight:900 ;
}
/* start of section-7 styling */
.section-7 {
    background-color: #EB5757;
}

.w30 {
    width: 30%;
}

.w30 img {
    padding: 10px 20px 10px 5px;
    border-right: 3px solid #F1F1F1;
}

.w30 h2 {
    margin-left: 35px;
    color: #F1F1F1;
    font-family: Cabin;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.w30 h6 {
    margin-left: 35px;
    margin-top: 5%;
    color: #F2F2F2;
    font-family: Cabin;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.s7 {
    padding-bottom: 5%;
}

.s7-1 {
    justify-content: space-between;
    padding: 7% 0;
}

.s7-2 h2 {
    color: #FFF;
    font-family: Cabin;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    margin-bottom: 5%;
}

.s7-2 a {
    color: #EB5757;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: white;
    padding: 12px 32px;
    text-decoration: none;
}

.s7-3 {
    margin-left: 60%;
    
}
.s7-3 p {
    color: #FFF;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.s7-3 h2 {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 2%;
}
/* end of section-7 styling */

/* start of footer styling */
.ft {
    padding: 5% 0 7% 0;
}

.ft .logo {
    width: 30%;
}

.logo-img {
    width: 70%;
}

.logo-p {
    margin: 2% 0 3% 0;
    color: #333333e6;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.2px;
}

.logo-div {
    margin-top: 10%;
}

.logo-div p {
    margin-bottom: 5%;
}

.logo-div img {
    padding-right: 5%;
}

.ft .content {
    width: 70%;
    justify-content: space-between;
}

.d1 p:first-child, .d4 p:first-child, .d4 p:last-child {
    color: #333333e6;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    padding: 9% 0;
}

.d1 p:last-child {
    color: #333333e6;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 5% 0;
}

.d2 div {
    margin: 5% 0 7% 0;
}

.d2 div:first-child {
    margin-top: unset;
}

.d2 a {
    text-decoration: none;
    color: #333333e6;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 7% 0;
    word-spacing: 5px;
}

.d3 p:first-child {
    color: #333333e6;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    margin: 5% 0 7% 0;
}

.d3 p:nth-of-type(2) {
    font-size: 16px;
    margin-bottom: 10%;
}

.d1, .d2, .d3, .d4 {
    border-top: 2px solid #333333e6;
    width: 20%;
}

.d2 {
    padding-top: 2%;
}

.copyright {
    text-align: center;
    margin: 5% 0 2% 0;
}
/* end of footer styling */

