* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.d-flex {
    display: flex;
}

.container {
    margin: auto;
    width: 93%;
}

.ta {
    text-align: center;
}

/* start of navbar styling  */
.nav-sec {
    padding: 25px 63px 15px 63px;
    border-bottom: 0.5px solid #0392B8;
}

.nav-logo {
    width: 25%;
}

.nav {
    width: 60%;
    display: flex;
    gap: 40px;
    padding-top: 5px;
}

.request {
    width: 25%;
    padding-top: 5px;
}

.request a {
    padding: 15px 30px;
    text-decoration: none;
    background-color: #0392B8;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.75);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* end of navbar styling  */

/* start of section-2 styling */
.section-2 {
    background: #F2F2F2;
    padding: 30px 87px 30px 0px;
}

.clients {
    border-right: 2px solid #BDBDBD;
    width: 30%;
}

.clients h4 {
    padding: 0px 20px;
    font-family: Cabin;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    color: #333333;
    margin-top: 3%;
}

.companies {
    width: 70%;
}

.comp-div {
    width: 25%;
    text-align: center;
}
/* end of section-2 styling */

/* start of section 3 styling */
.section-3 h1{
    text-align: center;
    align-self: center;
    justify-content: center;
    padding: 2% 0 2% 0;
}

.blog-construction{
    width: 80%;
    margin: auto;
    gap: 20px;
}


.blog-construction-1 img, p, a, span{
    padding-bottom: 4%;
}

.blog-construction-1 a{
    text-decoration: none;
    color: #0392B8;
}


.blog-construction-2 p{
    position: relative;
    bottom: 20%;
    color: #FFF;
    padding-left: 2%;
    padding-bottom: 1%;
}

.date{
    font-size: 60%;
    padding: 5% 0 5% 0;
}

.blog-construction-3{
    line-height: 100%;
}
.blog-construction-3 h3{
    padding-bottom: 10%;
    font-size: 80%;
    font-weight: bold;
}

.blog-construction-3 div{
    padding-bottom: 6%;
}

.blog-construction-3 a{
    text-decoration: none;
    color: #0392B8;
    font-size: 70%;
}


.blog-construction-3 ul li{
    list-style: none;
}

span{
    color: #0392B8;
    font-size: 130%;
}

.section-4{
    gap: 16px;
}

.arrow {
    margin: 30% 0 5% 0;
}

.fa-arrow-left {
    color: #b4b4b4;
    padding-right: 2%;
}

.iconss{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    font-size: 50px;
}


.section-5{
    padding-top: 15%;
    width: 90%;
    margin: auto;
}

.section-5 i{
    position: relative;
    bottom: 250px;
    left: 690px;
    font-size: 60px;

}

/* start of section-7 styling */
.section-7 {
    background-color: #EB5757;
}

.w30 {
    width: 30%;
}

.w30 img {
    padding: 10px 20px 10px 5px;
    border-right: 3px solid #F1F1F1;
}

.w30 h2 {
    margin-left: 35px;;
}

.s7 {
    padding-bottom: 5%;
}

.s7-1 {
    justify-content: space-between;
    padding: 7% 0;
}

.s7-2 h2 {
    color: #FFF;
    font-family: Cabin;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    margin-bottom: 5%;
}

.s7-2 a {
    color: #EB5757;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: white;
    padding: 12px 32px;
    text-decoration: none;
}

.s7-3 {
    margin-left: 60%;
    
}
.s7-3 p {
    color: #FFF;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.s7-3 h2 {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 2%;
}
/* end of section-7 styling */


/* start of footer styling */
.ft {
    padding: 5% 0 7% 0;
}

.ft .logo {
    width: 30%;
}

.logo-img {
    width: 70%;
}

.logo-p {
    margin: 2% 0 3% 0;
    color: #333333e6;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.2px;
}

.logo-div {
    margin-top: 10%;
}

.logo-div p {
    margin-bottom: 5%;
}

.logo-div img {
    padding-right: 5%;
}

.ft .content {
    width: 70%;
    justify-content: space-between;
}

.d1 p:first-child, .d4 p:first-child, .d4 p:last-child {
    color: #333333e6;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    padding: 9% 0;
}

.d1 p:last-child {
    color: #333333e6;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 5% 0;
}

.d2 div {
    margin: 5% 0 7% 0;
}

.d2 div:first-child {
    margin-top: unset;
}

.d2 a {
    text-decoration: none;
    color: #333333e6;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 7% 0;
    word-spacing: 5px;
}

.d3 p:first-child {
    color: #333333e6;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    margin: 5% 0 7% 0;
}

.d3 p:nth-of-type(2) {
    font-size: 16px;
    margin-bottom: 10%;
}

.d1, .d2, .d3, .d4 {
    border-top: 2px solid #333333e6;
    width: 20%;
}

.d2 {
    padding-top: 2%;
}

.copyright {
    text-align: center;
    margin: 5% 0 2% 0;
}
/* end of footer styling */