* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.container {
    margin: auto;
    width: 93%;
}

.ta {
    text-align: center;
}

/* start of navbar styling  */
.nav-sec {
    padding: 15px 63px 0px 63px;
}

.nav-logo {
    width: 25%;
}

.nav {
    width: 60%;
    display: flex;
    gap: 40px;
    padding-top: 5px;
}

.request {
    width: 25%;
    padding-top: 5px;
}